<div class="container">
  <div class="row">
    <div class="col">
      <div class="accordion col-md-6" id="accordionExample">
        <div class="accordion-item" *ngFor='let plat of plats'>
          <h2 class="accordion-header" [id]="'h'+plat.nomTipus">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"  [attr.data-bs-target]="'#'+plat.nomTipus" aria-expanded="false" [attr.aria-controls]="plat.nomTipus">
                {{plat.nomTipus}}
            </button>
          </h2>
          <div  [attr.id]= "plat.nomTipus" class="accordion-collapse collapse " [attr.aria-labelledby]="'h'+plat.nomTipus" data-bs-parent="#accordionExample">
            <div class="accordion-body"  *ngFor='let platnom of plat.llistatPlats' >
              <strong >{{platnom.nom}}</strong><br>
              <strong >{{platnom.preu}} € </strong>
              <button (click)="pedirplat(platnom.nom, platnom.preu)" class="btn btn-sm btn-primary"> +</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 order-summary">
        <h6 class="text-center">Comanda:</h6>
        <div *ngFor="let plat of platsPerDemanarOrdenat | keyvalue;">
          <span>{{plat.key | titlecase}} x </span>  <span class="">{{plat.value.length}}</span>
          <button class="btn btn-sm btn-primary" (click)="deleteItem(plat.key)">-</button>
        </div>
      </div>

    <br><br>
      <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#modal2" id="openModal2" (click)="ordenarPlats()">
        Confirmar la compra
      </button>
    </div>
  </div>
</div>

    <div class="modal fade" id="modal2" tabindex="-1" aria-labelledby="modal2Label" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title " id="modal2Label">Confirmar comanda</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <div>

                    <div class="text-center">
                      <h5>Confirma la teva comanda!</h5>
                      <h6>Qui está demanant?</h6>
                    </div>
                      
                      <div class="container">
                        <div class="row ">
                          <app-comensal *ngFor="let comensal of comensalList" [isOnConfirmModal]="true" [name]="comensal.name" [image]="comensal.image" class="col-sm-6 col-xs-12 col-md-6 " (select)="selectComensal($event)"></app-comensal>
                        </div>
                      </div>

                      <h6 class="mt-3 text-center">Comanda:</h6>
                      <div class="order-summary">

                        <div *ngFor="let plat of platsPerDemanarOrdenat | keyvalue;">
                          <span>{{plat.key | titlecase}} x </span>  <span class="">{{plat.value.length}}</span>
                        </div>
                      </div>
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="buttonClose">Tancar</button>
                  <a class="btn btn-primary" data-bs-dismiss="modal" (click)="lacuenta()">Continuar</a>

              </div>
          </div>
      </div>
</div>
