<div class="container">
    <div class="row">
      <div class="col">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../img/logo.jpg" class="d-block w-100" alt="imagen del local">
            </div>
            <div class="carousel-item">
              <img src="..." class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="..." class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi eligendi neque, quisquam repellat, sed eveniet architecto accusantium asperiores aut excepturi, error eum mollitia totam reprehenderit exercitationem culpa saepe recusandae quos.
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col">
        <div routerLink="/ComandaLocal" routerLinkActive="active">
          <input type="checkbox" class="btn-check">
          <label class="btn btn-outline-success  btn-lg" id="delivery">Delivery</label>
        </div>
      </div>
      <br/>
      <br/>
      <br/>
      <div class="col">
        <div routerLink="/comanda" routerLinkActive="active">
          <input type="checkbox" class="btn-check" >
          <label class="btn btn-outline-success  btn-lg" id="Restaurant">Restaurant</label>
        </div>
      </div>
    </div>
  </div>
