<div class="container">
    <div class="row">
        <div class="col">
            <div>
                <h1>Comanda en local</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut rem molestias facilis sed voluptas corporis laboriosam ipsa magnam sequi, recusandae dolorem placeat minima velit explicabo quo magni porro dolor sunt?</p>
            </div>
        </div>
        <div class="col">
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut rem molestias facilis sed voluptas corporis laboriosam ipsa magnam sequi, recusandae dolorem placeat minima velit explicabo quo magni porro dolor sunt?</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div>
                <input type="checkbox" class="btn-check">
                <label class="btn btn-outline-success  btn-lg" id="VerComanda">Ver tu comanda</label>
            </div>
        </div>
        <br/>
        <br/>
        <br/>
        <div class="col">
            <div>
                <input type="checkbox" class="btn-check" >
                <label class="btn btn-outline-success  btn-lg" id="CrearComanda">Crear una comanda</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div>
                <input type="checkbox" class="btn-check" >
                <label class="btn btn-outline-success  btn-lg" id="VeureComanda">Veure Comanda</label>
            </div>
        </div>
    </div>
</div>
