.estat-demanat{
    background-color: #3457D5;
    border-color: #3457D5;
}

.estat-preparacio{
    background-color: #FFD700;
    border-color: #FFD700;
    color: black;
}


.estat-preparat{
    background-color: rgb(191, 245, 191);
    border-color: rgb(0,144,0);
    color: black;
}


.estat-entregat{
    background-color: rgb(0,144,0);
    border-color: rgb(0,144,0);
 
}