<div class="card text-center">
    <div class="card-header">
        <h3>{{plat.nom}}</h3>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{plat.preu}} €</h5>
      <p class="card-text">{{plat.comensal}}</p>
      <h5>Estat:</h5>
      <button type="button" class="btn btn-primary estat-preparat" [ngClass]="{'estat-preparat': (plat.estat=='Preparat') , 'estat-demanat':(plat.estat=='Demanat'),  'estat-entregat':(plat.estat=='Entregat'),  'estat-preparacio':(plat.estat=='En preparació')  }"  >{{plat.estat}}</button>

    </div>
  </div>
  <br>

