<div class="container mb-5  ">
    <br>
    <div class="row">

        <div class="col-xs-12">
            <div class="card">
                <div class="card-body">
                    <h3>
                        Administrar categories
                    </h3>

                    <div class="my-3">
                        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#borrar">
              Borrar Categoria
            </button> &nbsp;&nbsp;
                        <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#categoria">
              Crear Categoria
            </button>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-xs-12 my-3">
            <div class="card">
                <div class="card-body">
                    <h3>Afegir Plats</h3>
                    <div class="input-group mb-3">
                        <span class="input-group-text"><b>Nom del Plat</b></span>
                        <input type="text" class="form-control" [(ngModel)]="nomplat" type="text" placeholder="" name="nomplat" required>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><b>Preu del plat</b></span>
                        <input type="text" class="form-control" [(ngModel)]="preuplat" type="text" placeholder="" name="preuplat" required>
                    </div>


                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupSelect01"><b>Tipus del plat</b></label>
                        <select class="form-select" name="selectedtipus" [(ngModel)]="selectedtipus">
              <option *ngFor='let tipus of tipusdeplats' [value]="tipus.nom">
                {{tipus.nom}}
              </option>
            </select>
                    </div>
                    <br>

                    <button type="button" class="btn btn-outline-success" (click)="afegirPlat()">Guardar</button>
                </div>
            </div>
        </div>

        <div class="col-xs-12 my-3">
            <div class="card">
                <div class="card-body">
                    <h3>Administrar plats</h3>
                    <div class="accordion mt-3" [id]="'accordionPlatsAdmin'">
                        <div class="accordion-item" *ngFor='let obj of plats'>
                            <h2 class="accordion-header" [id]="'h'+obj.nomTipus">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#'+obj.nomTipus" aria-expanded="false" [attr.aria-controls]="obj.nomTipus">
                  {{obj.nomTipus}}
                </button>
                            </h2>
                            <div [attr.id]="obj.nomTipus" class="accordion-collapse collapse " [attr.aria-labelledby]="'h'+obj.nomTipus" data-bs-parent="#accordionPlatsAdmin">
                                <div *ngFor="let plat of obj.llistatPlats">
                                    <div class=" d-flex justify-content-between px-3 py-1">
                                        <div>
                                            {{plat.nom}}
                                        </div>
                                        <div>
                                            {{plat.tipus}}
                                        </div>
                                        <div>
                                            {{plat.preu}}€
                                        </div>
                                        <div>
                                            <button class="btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#editarPlatModal" (click)="selectEditPlat(plat.nom, plat.preu)">
                                                Editar plat
                                            </button>
                                        </div>
                                        <div>
                                            <button class="btn btn-sm btn-danger" (click)="eliminarPlat(plat.nom)">
                                               Eliminar plat
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="categoria" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Categoria</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>



            <div class="modal-body">
                <div class="input-group mb-3">
                    <span class="input-group-text"><b>Nom de la categoria:</b></span>
                    <input type="text" class="form-control" [(ngModel)]="categoria" type="text" placeholder="Categoria" name="categoria">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tancar</button>
                <button type="button" class="btn btn-primary" (click)="afegirCategoria(categoria)" data-bs-dismiss="modal">Guardar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="borrar" tabindex="-1" aria-labelledby="borrar" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="borrar">Borrar Categoria</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupSelect01"><b>Categoria a borrar
            </b></label>
                    <select class="form-select" name="selectedtipus" [(ngModel)]="selectedtipusBorrar">
            <option *ngFor='let tipus of tipusdeplats' [value]="tipus.nom">
              {{tipus.nom}}
            </option>
          </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-outline-danger" (click)="eliminarCategoria(selectedtipusBorrar)" data-bs-dismiss="modal">Borrar</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="editarPlatModal" tabindex="-1" aria-labelledby="editarPlatLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editarPlatLabel">Editar plat</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="input-group mb-3">
                    <span class="input-group-text"><b>Nom del Plat</b></span>
                    <input type="text" class="form-control" [(ngModel)]="nouNom" type="text" placeholder="" name="nomplat" required>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><b>Preu del plat</b></span>
                    <input type="text" class="form-control" [(ngModel)]="preuSelectedPlat" type="text" placeholder="" name="preuplat" required>
                </div>



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tancar</button>
                <button type="button" class="btn btn-primary" (click)="editarPlat()" data-bs-dismiss="modal">Guardar</button>
            </div>
        </div>
    </div>
</div>