<div class="container">
    <div class="row">
        <div class="col">
            <div>
                <h1>Pagar</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div>
                <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Username" aria-label="Username">
                <span class="input-group-text">Nombre</span>
                </div>
                
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username">
                    <span class="input-group-text">Apellido</span>
                </div>

                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username">
                    <span class="input-group-text">Email</span>
                </div>

                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username">
                    <span class="input-group-text">Numero</span>
                </div>

                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username">
                    <span class="input-group-text">Direccion</span>
                </div>
                <br>
                <button type="button" class="btn btn-outline-success">Comprar</button>
            </div>
        </div>
        <div class="col">
            <div>
                <h1>tiquet</h1>
            </div>
        </div>
    </div>
</div>
