<div class="container">
    <div class="row">
        <div class="col">
            <div>
                <h1>Pagar</h1>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col">
            <div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Nombre</span>
                    <input type="text" class="form-control" placeholder="nombre">
                </div>
                
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Apellido</span>
                    <input type="text" class="form-control" placeholder="Apellido">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Email</span>
                    <input type="text" class="form-control" placeholder="Email">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Numero</span>
                    <input type="text" class="form-control" placeholder="Numero">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Direccion</span>
                    <input type="text" class="form-control" placeholder="Direccion">
                </div>
            </div>
            <br>
            <br>
            <label routerLink="/ComandaLocal" routerLinkActive="active">
                <input type="checkbox" class="btn-check" >
                <label class="btn btn-outline-danger" id="volver">volver</label>
            </label>
            &nbsp;
            &nbsp;
            <label routerLink="/ComprarComanda" routerLinkActive="active">
                <input type="checkbox" class="btn-check" >
                <label class="btn btn-outline-success" id="ComprarComanda">Comprar comanda</label>
            </label>
        </div>
        <div class="col">
            <div>
                <h1>tiquet</h1>
            </div>
        </div>
    </div>
</div>
