
<div *ngFor='let empleados of elsmeusEmpleats' >

    key : {{empleados.key}}
    Email: {{empleados.email}}
    Plats asignats: 
    <p *ngFor='let platos of empleados.plats' >
        Codi del plat : {{platos.codiplat}}<br>
        Taula del Plat: {{platos.taula.mesa}}<br>
        Plat demanat : {{platos.taula.plat}}
        <button (click)= "borraAssignacio(empleados.key, platos.codiplat)">Borra asignacion</button>
        <hr>

        <p>
    <hr>

</div>




<div *ngFor='let mesa of taulesmesas'>

    {{mesa.key}}

    <ul>
<li *ngFor='let plato of mesa.plats' >{{ plato.nom}}

    </ul>

</div>

