<div class="container">
    <div class="row">
        <div class="col">
            <div class="card text-center">
                <div class="card-header">
                <h3>Administrador</h3>
                </div>
                <br>
                <div class="card-body">
                <h5 class="card-title">Peticions</h5>
                <a routerLink="/adminPlats" class="btn btn-primary">Veure</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <div class="card text-center">
                <div class="card-body">
                <h5 class="card-title">afegir Plats</h5>
                <a routerLink="/afegirPlat" class="btn btn-primary">Veure</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center">
                <div class="card-body">
                <h5 class="card-title">Administrar Taules</h5>
                <a routerLink="/adminTaula" class="btn btn-primary">Veure</a>
                </div>
            </div>
        </div>
    </div>
</div>
