<div class="spinner-border text-primary" role="status" *ngIf="taules.length==0">
    <span class="visually-hidden">Loading...</span>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <div *ngFor="let taula of taules" class="main-border m-5">
                <div class="py-1">
                    Resum:
                </div>
                <app-tiquet [codiTaula]="taula"></app-tiquet>
                <button class="btn btn-danger" (click)="borrar(taula)">Esborrar taula</button>
            </div>
            <button mat-raised-button (click)="volver()" class="btn btn-outline-danger">Tornar</button>
            <br><br><br>
        </div>
    </div>
</div>