<div class="container">
    <div class="row">
        <div class="col">
            <div class="card text-center">
                <div class="card-header">
                    <h2 style="color: lightblue;">{{codiTaula}}</h2>
                </div>
                <div class="card-body">
                    <app-plat *ngFor="let plat of llistaPlats" [plat]=plat></app-plat>
                    <hr>
                    <app-tiquet [codiTaula]="codiTaula"></app-tiquet>
                </div>
            </div>
        </div>
    </div>
</div>
