<div class="container">
    <div class="row">
        <div class="col">
            <div *ngFor='let mesa of taulesmesas trackBy: track2'>
                <div class="card">
                    <h3 class="card-title">Taula: {{mesa.key}}</h3>
                    <br>
                    <hr>
                    <div class="card-body" *ngFor='let plat of mesa.plats; trackBy: track'>
                        <h4 class="card-subtitle mb-2 text-muted">Plat demanat: {{plat.nom}} Estat: {{plat.estat}}</h4>
                        <div class="btn-group" role="group" [attr.aria-label]="'Basic radio toggle button group'+plat.key">
                            <input type="radio" class="btn-check" [attr.name]="plat.key" [attr.id]="'btnradio1'+plat.key" autocomplete="off" [attr.checked]="(plat.estat=='Demanat')? 'checked':null">
                            <label class="btn btn-sm  btn-outline-primary" [attr.for]="'btnradio1'+ plat.key " (click)="insertcomandaEstat(mesa.key, plat.key, 'Demanat')">Demanat</label>

                            <input type="radio" class="btn-check" [attr.name]="plat.key" [attr.id]="'btnradio2'+ plat.key" autocomplete="off" [attr.checked]="(plat.estat=='En preparació')? 'checked':null">
                            <label class="btn btn-sm  btn-outline-primary" [attr.for]="'btnradio2'+plat.key" (click)="insertcomandaEstat(mesa.key, plat.key, 'En preparació')">En preparació</label>

                            <input type="radio" class="btn-check" [attr.name]="plat.key" [attr.id]="'btnradio3'+plat.key" autocomplete="off" [attr.checked]="(plat.estat=='Preparat')? 'checked':null">
                            <label class="btn  btn-sm  btn-outline-primary" [attr.for]="'btnradio3'+plat.key" (click)="insertcomandaEstat(mesa.key, plat.key, 'Preparat')">Preparat</label>

                            <input type="radio" class="btn-check" [attr.name]="plat.key" [attr.id]="'btnradio4'+plat.key" autocomplete="off" [attr.checked]="(plat.estat=='Entregat')? 'checked':null">
                            <label class="btn btn-sm  btn-outline-primary" [attr.for]="'btnradio4'+plat.key" (click)="insertcomandaEstat(mesa.key, plat.key, 'Entregat')">Entregat</label>
                        </div>
                        <p class="card-text">Selecione el estado del pedido.</p>
                        <hr>
                    </div>
                </div>
            </div>
            <button mat-raised-button (click)="volver()" class="btn btn-outline-danger">Tornar</button>
            <br><br><br>
        </div>
    </div>
</div>